In [2]:
import pandas as pd
import uuid

In [4]:
df = pd.DataFrame(data)

def generate_unique_id(n):
    return f"ID{str(n).zfill(4)}"


df['ID_option_1'] = [generate_unique_id(i+1) for i in range(len(df))]

df['ID_option_2'] = [str(uuid.uuid1()) for _ in range(len(df))]

# Dropping or mask the account_number column
#df.drop('account_number', axis=1, inplace=True)

print(df)

  account_number ID_option_1                           ID_option_2
0          12345      ID0001  9bd31d94-6c0e-11ef-a1e3-f17ca308ffe0
1          67890      ID0002  9bd31d95-6c0e-11ef-a1e3-f17ca308ffe0
2          54321      ID0003  9bd31d96-6c0e-11ef-a1e3-f17ca308ffe0
3          09876      ID0004  9bd31d97-6c0e-11ef-a1e3-f17ca308ffe0

In [8]:
file = '/lirneasia/data/lacuna/raw/z_other/survey_pool_mapped.csv'
df = pd.read_csv(file)

df

      Unnamed: 0  ACCOUNT_NO      ID
0              0   208949906  ID0001
1              1   208756405  ID0002
2              2   202865201  ID0003
3              3   202792106  ID0004
4              4   201375702  ID0005
...          ...         ...     ...
7991        7991   604973710  ID7992
7992        7992   602275509  ID7993
7993        7993   601582509  ID7994
7994        7994   606375407  ID7995
7995        7995   601837610  ID7996

[7996 rows x 3 columns]