In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import polars as pl
import pandas as pd
import ohio as oh
import ohio.ext.pandas as ohio
from sqlalchemy import create_engine

In [2]:
srl_version = pd.read_csv('/lirneasia/data/lacuna/raw/Survey_data/LECO_ElectricityUsage_(Client Data)_W1.csv', low_memory=False)
stat_cleaned_version = pd.read_csv('/lirneasia/data/lacuna/raw/Survey_data/Survey_wave_1_may_29.csv', low_memory=False)

In [3]:
print(f'SRL version: {srl_version.shape}')
print(f'LA stat team version: {stat_cleaned_version.shape}')

SRL version: (2806, 62315)
LA stat team version: (2806, 805)

In [4]:
srl_version

,SERIALNO,UniqueID,T_PData_1,T_PData_2,T_PData_3,T_PData_4,T_PData_5,T_PData_6,T_PData_7,T_PData_8,...,T_RepData_11,J_5,W1_J_6_O1,W1_J_6_O2,W1_J_6_O3,GPS_LA,GPS_LO,District,INT_ID,DUR_TTL
0,194742308.0,GAL005073,SOMAWANTHA M H T R*,09 MALWATTA TEMPLE RD* DANGEDARA GALLE* GALLE*,NaN,NaN,94718284752,non_smart_meter,GALLE,GALLE,...,NaN,NaN,Sinhala,NaN,NaN,6.050143,80.219056,Galle,NaN,53.0
1,194742589.0,GAL005050,NANDASIRI K L*,12 GANGARAMA CROSS RD* MAGALLE GALLE GALLE*,NaN,NaN,94762159101,non_smart_meter,GALLE,GALLE,...,NaN,NaN,Sinhala,NaN,NaN,6.037925,80.231950,Galle,NaN,94.0
2,194743000.0,GAL005036,THABREW H H P M J,"BAKE LENDS, KITULAMPITIYA GALLE* GALLE*",912222713,0718411697,94718411697,smart_meter,GALLE,GALLE,...,NaN,NaN,Sinhala,NaN,NaN,6.061237,80.207060,Galle,NaN,61.0
3,194743684.0,BOR007909,WEERASINGHE H D D G,"54/38, PIRIVENA RD BORALESGAMUWA",112810488,0777474762,94777474762,non_smart_meter,NUGEGODA,BORALASGAMUWA,...,NaN,NaN,Sinhala,NaN,NaN,6.838990,79.907649,Colombo,NaN,70.0
4,194744078.0,KOL00924,S S ATHIKA,1/B/F/10/U/21 LAKSANDA SEVANA SALAMULLA KOLONN...,NaN,NaN,94763088064,non_smart_meter,KOTTE,KOLONNAWA,...,NaN,NaN,Sinhala,NaN,NaN,6.927788,79.894323,Colombo,NaN,122.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2801,197059426.0,DAL001683,A S FERNANDO,425/7/1 ROYAL GARDEN-02 WANAWASALA KELANIYA .,NaN,NaN,94773030123,non_smart_meter,KELANIYA,DALUGAMA,...,NaN,NaN,Sinhala,NaN,NaN,6.972304,79.899317,Gampaha,nilmini206,45.0
2802,197059427.0,DAL001697,D K A N AMARASINGHE,42/2 WEERASINGHE MW WARAGODA KELANIYA .,NaN,0112912473,94718199721,smart_meter,KELANIYA,DALUGAMA,...,NaN,NaN,Sinhala,NaN,NaN,6.956469,79.902347,Gampaha,nilmini206,61.0
2803,197059428.0,DAL001963,L W RUBASINGHE,146/2 NARAMMINIYA RD KELANIYA .,NaN,0761485986,94761485986,non_smart_meter,KELANIYA,DALUGAMA,...,NaN,NaN,Sinhala,NaN,NaN,6.959137,79.900976,Gampaha,nilmini206,57.0
2804,197059429.0,DAL001164,RAMANAYAKE A I K,"236/5, WEDAMULLA MW KELANIYA* 0",112915947,0726303344,94765629251,non_smart_meter,KELANIYA,DALUGAMA,...,NaN,NaN,Sinhala,NaN,NaN,6.964721,79.904277,Gampaha,nilmini206,38.0
2805,197059430.0,DAL001112,UPALI K M*,DEWALA RD 667/17B* PETHIYAGODA KELANIYA* 0,NaN,NaN,94761445825,non_smart_meter,KELANIYA,DALUGAMA,...,NaN,NaN,Sinhala,NaN,NaN,6.954035,79.906290,Gampaha,nilmini206,26.0

In [5]:
columns = srl_version.columns
columns

Index(['SERIALNO', 'UniqueID', 'T_PData_1', 'T_PData_2', 'T_PData_3',
       'T_PData_4', 'T_PData_5', 'T_PData_6', 'T_PData_7', 'T_PData_8',
       ...
       'T_RepData_11', 'J_5', 'W1_J_6_O1', 'W1_J_6_O2', 'W1_J_6_O3', 'GPS_LA',
       'GPS_LO', 'District', 'INT_ID', 'DUR_TTL'],
      dtype='object', length=62315)

### Demographic Roster

In [6]:
demog = columns[columns.str.contains('W1_C_2')]

# add SERIAL_NO as a column with demog 
demographic_roster = srl_version[['SERIALNO'] + demog.tolist()]

demographic_roster_columns = demographic_roster.columns

demographic_roster_columns

Index(['SERIALNO', 'I_1_W1_C_2_a', 'I_1_W1_C_2_d', 'I_1_W1_C_2_d_1',
       'I_2_W1_C_2_a', 'I_2_W1_C_2_d', 'I_2_W1_C_2_d_1', 'I_3_W1_C_2_a',
       'I_3_W1_C_2_d', 'I_3_W1_C_2_d_1',
       ...
       'T_W1_C_2_o_6', 'T_W1_C_2_o_7', 'T_W1_C_2_o_8', 'T_W1_C_2_o_9',
       'T_W1_C_2_o_10', 'T_W1_C_2_o_11', 'T_W1_C_2_o_12', 'T_W1_C_2_o_13',
       'T_W1_C_2_o_14', 'T_W1_C_2_o_15'],
      dtype='object', length=256)

In [7]:
len(demographic_roster)

2806

In [8]:
demographic_roster

,SERIALNO,I_1_W1_C_2_a,I_1_W1_C_2_d,I_1_W1_C_2_d_1,I_2_W1_C_2_a,I_2_W1_C_2_d,I_2_W1_C_2_d_1,I_3_W1_C_2_a,I_3_W1_C_2_d,I_3_W1_C_2_d_1,...,T_W1_C_2_o_6,T_W1_C_2_o_7,T_W1_C_2_o_8,T_W1_C_2_o_9,T_W1_C_2_o_10,T_W1_C_2_o_11,T_W1_C_2_o_12,T_W1_C_2_o_13,T_W1_C_2_o_14,T_W1_C_2_o_15
0,194742308.0,W Vikramage,1952.0,71.0,M H Thilaka Rohini Somawantha,1957.0,66.0,Pradeep Madusanka,1991.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,194742589.0,K L. නන්දසිරි,1938.0,85.0,R. A. උපනන්ද සුරතිස්‌ස,1957.0,66.0,k. L. රම්‍යාලතා,1964.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,194743000.0,anoj tharaka,1979.0,44.0,harshani thabru,1982.0,41.0,chithrangani,1949.0,74.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,194743684.0,darshana,1988.0,35.0,kamala,1952.0,71.0,randi,1991.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,194744078.0,Sujeeswa Priyankara,1966.0,57.0,Bandumathie,1945.0,78.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2801,197059426.0,a s perera,1978.0,45.0,jayamini,1974.0,49.0,kumuduni,1977.0,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2802,197059427.0,janaka,1969.0,54.0,amila,1972.0,51.0,suvinetha,1943.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2803,197059428.0,m t abawekrama,1980.0,43.0,l w rupasenha,1987.0,36.0,pathimeni,1958.0,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2804,197059429.0,ramanayaka,1970.0,53.0,ranuka,1973.0,50.0,nirmala,1976.0,47.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2805,197059430.0,Upali,1961.0,62.0,lakshmi,1966.0,57.0,k m nandana,1987.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
serial_no_value = demographic_roster['SERIALNO'].iloc[1]# Access the first row of the SERIALNO column
print(serial_no_value)

194742589.0

In [10]:
'''
df[serialno, member_id, W1_C_2_a, W1_C_2_b,........., W1_C_2_]
'''
# Create an empty DataFrame for the member roster
member_roster = pd.DataFrame(columns=['SERIALNO', 'MEMBER_ID', 'W1_C_2_a', 'W1_C_2_d', 'W1_C_2_d_1', 'W1_C_2_b', 'W1_C_2_c', 'W1_C_2_e', 'W1_C_2_f', 'W1_C_2_g', 'W1_C_2_h', 'W1_C_2_i', 'W1_C_2_j', 'W1_C_2_k', 'W1_C_2_l', 'W1_C_2_m', 'W1_C_2_n', 'W1_C_2_o'])

for n in range(len(demographic_roster)):
    serial_no = demographic_roster['SERIALNO'].iloc[n]
    # Iterate through every member to get each member's columns and add them to the roster
    for i in range(1, 16):
        member_id = f'I_{i}'
        basic_details = demographic_roster_columns[demographic_roster_columns.str.contains(f'I_{i}_W1_C_2')]
        relationship = demographic_roster_columns[demographic_roster_columns.str.contains(f'T_W1_C_2_b_{i}')]
        gender = demographic_roster_columns[demographic_roster_columns.str.contains(f'T_W1_C_2_c_{i}')]
        ethnicity = demographic_roster_columns[demographic_roster_columns.str.contains(f'T_W1_C_2_e_{i}')]
        religion = demographic_roster_columns[demographic_roster_columns.str.contains(f'T_W1_C_2_f_{i}')]
        marital_status = demographic_roster_columns[demographic_roster_columns.str.contains(f'T_W1_C_2_g_{i}')]
        current_education = demographic_roster_columns[demographic_roster_columns.str.contains(f'T_W1_C_2_h_{i}')]
        highest_education = demographic_roster_columns[demographic_roster_columns.str.contains(f'T_W1_C_2_i_{i}')]
        main_activity = demographic_roster_columns[demographic_roster_columns.str.contains(f'T_W1_C_2_j_{i}')]
        main_occupation = demographic_roster_columns[demographic_roster_columns.str.contains(f'T_W1_C_2_k_{i}')]
        daily_wage_owner = demographic_roster_columns[demographic_roster_columns.str.contains(f'T_W1_C_2_l_{i}')]
        employment_status = demographic_roster_columns[demographic_roster_columns.str.contains(f'T_W1_C_2_m_{i}')]
        no_of_hours_stayed_home = demographic_roster_columns[demographic_roster_columns.str.contains(f'T_W1_C_2_n_{i}')]
        went_out_from_home = demographic_roster_columns[demographic_roster_columns.str.contains(f'T_W1_C_2_o_{i}')]

        # Create a temporary DataFrame with the member's data
        temp_df = pd.DataFrame({
            'SERIALNO': [serial_no],
            'MEMBER_ID': [member_id],
            'W1_C_2_a': [demographic_roster[basic_details[0]].values[n]],
            'W1_C_2_d': [demographic_roster[basic_details[1]].values[n]],
            'W1_C_2_d_1': [demographic_roster[basic_details[2]].values[n]],
            'W1_C_2_b': [demographic_roster[relationship].values[n][0]],
            'W1_C_2_c': [demographic_roster[gender].values[n][0]],
            'W1_C_2_e': [demographic_roster[ethnicity].values[n][0]],
            'W1_C_2_f': [demographic_roster[religion].values[n][0]],
            'W1_C_2_g': [demographic_roster[marital_status].values[n][0]],
            'W1_C_2_h': [demographic_roster[current_education].values[n][0]],
            'W1_C_2_i': [demographic_roster[highest_education].values[n][0]],
            'W1_C_2_j': [demographic_roster[main_activity].values[n][0]],
            'W1_C_2_k': [demographic_roster[main_occupation].values[n][0]],
            'W1_C_2_l': [demographic_roster[daily_wage_owner].values[n][0]],
            'W1_C_2_m': [demographic_roster[employment_status].values[n][0]],
            'W1_C_2_n': [demographic_roster[no_of_hours_stayed_home].values[n][0]],
            'W1_C_2_o': [demographic_roster[went_out_from_home].values[n][0]]
        })
        
        # Append to the member roster
        member_roster = pd.concat([member_roster, temp_df], ignore_index=True)

member_roster

/tmp/ipykernel_328802/1819212206.py:50: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  member_roster = pd.concat([member_roster, temp_df], ignore_index=True)

,SERIALNO,MEMBER_ID,W1_C_2_a,W1_C_2_d,W1_C_2_d_1,W1_C_2_b,W1_C_2_c,W1_C_2_e,W1_C_2_f,W1_C_2_g,W1_C_2_h,W1_C_2_i,W1_C_2_j,W1_C_2_k,W1_C_2_l,W1_C_2_m,W1_C_2_n,W1_C_2_o
0,194742308.0,I_1,W Vikramage,1952.0,71.0,Head of the household,Male,Sinhala,Buddhism,Currently married (registered),Does not attend,Passed G.C.E.(A/L) or equivalent 13,2.Retired and obtaining government/semi-govern...,10 Related to forces,No,1 Government employee,168.0,"No, worked from home"
1,194742308.0,I_2,M H Thilaka Rohini Somawantha,1957.0,66.0,Wife/Husband,Female,Sinhala,Buddhism,Currently married (registered),Does not attend,Passed G.C.E.(A/L) or equivalent 13,7.Household activities,NaN,NaN,NaN,168.0,NaN
2,194742308.0,I_3,Pradeep Madusanka,1991.0,32.0,Son/daughter,Male,Sinhala,Buddhism,Currently married (registered),Does not attend,Passed post Graduate Degree,1.Engaged in economic activity/ currently empl...,02 Professional,No,1 Government employee,70.0,"Yes, went daily during working days."
3,194742308.0,I_4,Nemesha Diwani,1993.0,30.0,Son in law/Daughter in law,Female,Sinhala,Buddhism,Currently married (registered),Does not attend,Passed post Graduate Degree,1.Engaged in economic activity/ currently empl...,02 Professional,No,1 Government employee,150.0,"Yes, went daily during working days."
4,194742308.0,I_5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42085,197059430.0,I_11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42086,197059430.0,I_12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42087,197059430.0,I_13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42088,197059430.0,I_14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42089,197059430.0,I_15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# remove rows with all NaN values except columns SERIALNO and MEMBER_ID
member_roster = member_roster.dropna(subset=member_roster.columns[2:], how='all').reset_index(drop=True)
member_roster

,SERIALNO,MEMBER_ID,W1_C_2_a,W1_C_2_d,W1_C_2_d_1,W1_C_2_b,W1_C_2_c,W1_C_2_e,W1_C_2_f,W1_C_2_g,W1_C_2_h,W1_C_2_i,W1_C_2_j,W1_C_2_k,W1_C_2_l,W1_C_2_m,W1_C_2_n,W1_C_2_o
0,194742308.0,I_1,W Vikramage,1952.0,71.0,Head of the household,Male,Sinhala,Buddhism,Currently married (registered),Does not attend,Passed G.C.E.(A/L) or equivalent 13,2.Retired and obtaining government/semi-govern...,10 Related to forces,No,1 Government employee,168.0,"No, worked from home"
1,194742308.0,I_2,M H Thilaka Rohini Somawantha,1957.0,66.0,Wife/Husband,Female,Sinhala,Buddhism,Currently married (registered),Does not attend,Passed G.C.E.(A/L) or equivalent 13,7.Household activities,NaN,NaN,NaN,168.0,NaN
2,194742308.0,I_3,Pradeep Madusanka,1991.0,32.0,Son/daughter,Male,Sinhala,Buddhism,Currently married (registered),Does not attend,Passed post Graduate Degree,1.Engaged in economic activity/ currently empl...,02 Professional,No,1 Government employee,70.0,"Yes, went daily during working days."
3,194742308.0,I_4,Nemesha Diwani,1993.0,30.0,Son in law/Daughter in law,Female,Sinhala,Buddhism,Currently married (registered),Does not attend,Passed post Graduate Degree,1.Engaged in economic activity/ currently empl...,02 Professional,No,1 Government employee,150.0,"Yes, went daily during working days."
4,194742589.0,I_1,K L. නන්දසිරි,1938.0,85.0,Head of the household,Male,Sinhala,Buddhism,Currently married (registered),Does not attend,Passed Grade 6,4.Retired - Obtaining government/semi-governme...,NaN,NaN,NaN,168.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11359,197059429.0,I_6,dunusha,2014.0,9.0,Son/daughter,Female,Sinhala,Buddhism,Never married,School,Passed Grade 4,NaN,NaN,NaN,NaN,160.0,NaN
11360,197059430.0,I_1,Upali,1961.0,62.0,Head of the household,Male,Sinhala,Buddhism,Currently married (registered),Does not attend,Passed G.C.E.(O/L),2.Retired and obtaining government/semi-govern...,06 Skilled agricultural and fishery worker,No,3 Private sector employee,120.3,"Yes, went daily during working days."
11361,197059430.0,I_2,lakshmi,1966.0,57.0,Wife/Husband,Female,Sinhala,Buddhism,Currently married (registered),Does not attend,Passed G.C.E.(A/L) or equivalent 13,7.Household activities,NaN,NaN,NaN,150.0,NaN
11362,197059430.0,I_3,k m nandana,1987.0,36.0,Son/daughter,Male,Sinhala,Buddhism,Currently married (registered),Does not attend,Passed G.C.E.(A/L) or equivalent 13,4.Retired - Obtaining government/semi-governme...,NaN,NaN,NaN,120.0,NaN
11363,197059430.0,I_4,sanuri,2009.0,14.0,Grand son/Grand daughter,Female,Sinhala,Buddhism,Never married,School,Passed Grade 8,8.Student,NaN,NaN,NaN,150.0,NaN

In [9]:
engine = create_engine('postgresql://postgres:balcombe08@localhost:5432/lacuna')

In [13]:
# Pushing the demographic roster to the database
member_roster.pg_copy_to(
    name='survey_1_demographic_roster',
    con = engine,
    schema='raw',
    if_exists='replace'
)

### Appliance Roster (Have to Complete This)

In [10]:
appliance = columns[columns.str.contains('W1_D')]

# add SERIAL_NO as a column with demog 
appliane_roster = srl_version[['SERIALNO'] + appliance.tolist()]

appliane_roster_columns = appliane_roster.columns

appliane_roster_columns

Index(['SERIALNO', 'W1_D1_O1', 'W1_D1_O2', 'W1_D1_O3', 'W1_D1_O4', 'W1_D1_O5',
       'W1_D1_O6', 'W1_D1_O7', 'W1_D1_O8', 'W1_D1_O9',
       ...
       'T_W1_D3_76_1', 'T_W1_D3_76_2', 'T_W1_D3_76_3', 'T_W1_D3_76_4',
       'T_W1_D3_76_5', 'T_W1_D3_77_1', 'T_W1_D3_77_2', 'T_W1_D3_77_3',
       'T_W1_D3_77_4', 'T_W1_D3_77_5'],
      dtype='object', length=547)

In [11]:
appliance_list = appliane_roster_columns[appliane_roster_columns.str.contains('W1_D1')]
appliance_list

Index(['W1_D1_O1', 'W1_D1_O2', 'W1_D1_O3', 'W1_D1_O4', 'W1_D1_O5', 'W1_D1_O6',
       'W1_D1_O7', 'W1_D1_O8', 'W1_D1_O9', 'W1_D1_O10', 'W1_D1_O11',
       'W1_D1_O12', 'W1_D1_O13', 'W1_D1_O14', 'W1_D1_O15', 'W1_D1_O16',
       'W1_D1_O17', 'W1_D1_O18', 'W1_D1_O19', 'W1_D1_O20', 'W1_D1_O21',
       'W1_D1_O22', 'W1_D1_O23', 'W1_D1_O24', 'W1_D1_O25', 'W1_D1_O26',
       'W1_D1_O27', 'W1_D1_O28', 'W1_D1_O29', 'W1_D1_O30', 'W1_D1_O31',
       'W1_D1_O32', 'W1_D1_O33', 'W1_D1_O34', 'W1_D1_O35', 'W1_D1_O36',
       'W1_D1_O37', 'W1_D1_O38', 'W1_D1_O39', 'W1_D1_O40', 'W1_D1_O41',
       'W1_D1_O42', 'W1_D1_O43', 'W1_D1_O44', 'W1_D1_O45', 'W1_D1_O46',
       'W1_D1_O47', 'W1_D1_O48', 'W1_D1_O49', 'W1_D1_O50', 'W1_D1_O51',
       'W1_D1_O52', 'W1_D1_O53', 'W1_D1_O54', 'W1_D1_O55', 'W1_D1_O56',
       'W1_D1_O57', 'W1_D1_O58', 'W1_D1_O59', 'W1_D1_O60', 'W1_D1_O61',
       'W1_D1_O62', 'W1_D1_O63', 'W1_D1_O64', 'W1_D1_O65', 'W1_D1_O66',
       'W1_D1_O67', 'W1_D1_O68', 'W1_D1_O69', 'W1_D1_O70', 'W1_D1_O71',
       'W1_D1_O72', 'W1_D1_O73', 'W1_D1_O74', 'W1_D1_O75', 'W1_D1_O76',
       'W1_D1_O77', 'W1_D1_O78', 'W1_D1_O79', 'W1_D1_Ot1', 'W1_D1_Ot',
       'W1_D1_Ot3'],
      dtype='object')

### Room Roster

In [12]:
columns[columns.str.contains('W1_E_6_a')]

Index(['I_1_W1_E_6_a', 'I_2_W1_E_6_a', 'I_3_W1_E_6_a', 'I_4_W1_E_6_a',
       'I_5_W1_E_6_a', 'I_6_W1_E_6_a', 'I_7_W1_E_6_a', 'I_8_W1_E_6_a',
       'I_9_W1_E_6_a', 'I_10_W1_E_6_a', 'I_11_W1_E_6_a', 'I_12_W1_E_6_a',
       'I_13_W1_E_6_a', 'I_14_W1_E_6_a', 'I_15_W1_E_6_a', 'I_16_W1_E_6_a',
       'I_17_W1_E_6_a', 'I_18_W1_E_6_a', 'I_19_W1_E_6_a', 'I_20_W1_E_6_a',
       'I_1_W1_E_6_aO', 'I_2_W1_E_6_aO', 'I_3_W1_E_6_aO', 'I_4_W1_E_6_aO',
       'I_5_W1_E_6_aO', 'I_6_W1_E_6_aO', 'I_7_W1_E_6_aO', 'I_8_W1_E_6_aO',
       'I_9_W1_E_6_aO', 'I_10_W1_E_6_aO', 'I_11_W1_E_6_aO', 'I_12_W1_E_6_aO',
       'I_13_W1_E_6_aO', 'I_14_W1_E_6_aO', 'I_15_W1_E_6_aO', 'I_16_W1_E_6_aO',
       'I_17_W1_E_6_aO', 'I_18_W1_E_6_aO', 'I_19_W1_E_6_aO', 'I_20_W1_E_6_aO'],
      dtype='object')

In [13]:
rooms = columns[columns.str.contains('W1_E_6')]

rooms_data = srl_version[['SERIALNO'] + rooms.tolist()]

rooms_data_columns = rooms_data.columns

rooms_data_columns

Index(['SERIALNO', 'I_1_W1_E_6_a', 'I_1_W1_E_6_b', 'I_1_W1_E_6_c_1',
       'I_1_W1_E_6_c_2', 'I_1_W1_E_6_d', 'I_1_W1_E_6_e', 'I_1_W1_E_6_f',
       'I_1_W1_E_6_g', 'I_1_W1_E_6_h',
       ...
       'I_20_I_19_T_W1_E_6_yO_3', 'I_20_I_19_T_W1_E_6_yO_4',
       'I_20_I_19_T_W1_E_6_yO_5', 'I_20_I_19_T_W1_E_6_yO_6',
       'I_20_I_19_T_W1_E_6_zO_1', 'I_20_I_19_T_W1_E_6_zO_2',
       'I_20_I_19_T_W1_E_6_zO_3', 'I_20_I_19_T_W1_E_6_zO_4',
       'I_20_I_19_T_W1_E_6_zO_5', 'I_20_I_19_T_W1_E_6_zO_6'],
      dtype='object', length=61321)

In [14]:
len(rooms_data)

2806

In [21]:
room_roster = pd.DataFrame(columns=['SERIALNO', 'ROOM_ID', 'W1_E_6_a', 'W1_E_6_b', 'W1_E_6_c_1', 'W1_E_6_c_2', 'W1_E_6_d', 'W1_E_6_e', 'W1_E_6_f', 'W1_E_6_g', 'W1_E_6_h', 'W1_E_6_i', 'W1_E_6_j', 'W1_E_6_k', 'W1_E_6_l'])

for n in range(len(rooms_data)):
    serial_no = rooms_data['SERIALNO'].iloc[n]

    # Main Rooms
    for i in range(1, 21):
        room_id = f'I_{i}'
        main_purpose = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_a')]
        which_storey = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_b')]
        material_of_roof = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_c_1')]
        type_of_ceiling = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_c_2')]
        material_of_floor = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_d')]
        no_of_doors = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_e')]
        no_of_windows = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_f')]
        material_of_window_panes = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_g')]
        have_curtains = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_h')]
        ventelation_holes = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_i')]
        no_of_bulbs = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_j')]
        no_of_fans = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_k')]
        no_of_acs = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_l')]

        temp_df = pd.DataFrame({
            'SERIALNO': [serial_no],
            'ROOM_ID': [room_id],
            'W1_E_6_a': [rooms_data[main_purpose].values[n][0]],
            'W1_E_6_b': [rooms_data[which_storey].values[n][0]],
            'W1_E_6_c_1': [rooms_data[material_of_roof].values[n][0]],
            'W1_E_6_c_2': [rooms_data[type_of_ceiling].values[n][0]],
            'W1_E_6_d': [rooms_data[material_of_floor].values[n][0]],
            'W1_E_6_e': [rooms_data[no_of_doors].values[n][0]],
            'W1_E_6_f': [rooms_data[no_of_windows].values[n][0]],
            'W1_E_6_g': [rooms_data[material_of_window_panes].values[n][0]],
            'W1_E_6_h': [rooms_data[have_curtains].values[n][0]],
            'W1_E_6_i': [rooms_data[ventelation_holes].values[n][0]],
            'W1_E_6_j': [rooms_data[no_of_bulbs].values[n][0]],
            'W1_E_6_k': [rooms_data[no_of_fans].values[n][0]],
            'W1_E_6_l': [rooms_data[no_of_acs].values[n][0]]
        })
        room_roster = pd.concat([room_roster, temp_df], ignore_index=True)
    
    # Other Rooms
    for i in range(1, 21):
        room_id = f'I_Oth_{i}'
        main_purpose = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_aO')]
        which_storey = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_bO')]
        material_of_roof = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_c_1O')]
        type_of_ceiling = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_c_2O')]
        material_of_floor = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_dO')]
        no_of_doors = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_eO')]
        no_of_windows = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_fO')]
        material_of_window_panes = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_gO')]
        have_curtains = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_hO')]
        ventelation_holes = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_iO')]
        no_of_bulbs = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_jO')]
        no_of_fans = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_kO')]
        no_of_acs = rooms_data_columns[rooms_data_columns.str.contains(f'I_{i}_W1_E_6_lO')]

        # Create a temporary DataFrame with the member's data
        temp_df = pd.DataFrame({
            'SERIALNO': [serial_no],
            'ROOM_ID': [room_id],
            'W1_E_6_a': [rooms_data[main_purpose].values[n][0]],
            'W1_E_6_b': [rooms_data[which_storey].values[n][0]],
            'W1_E_6_c_1': [rooms_data[material_of_roof].values[n][0]],
            'W1_E_6_c_2': [rooms_data[type_of_ceiling].values[n][0]],
            'W1_E_6_d': [rooms_data[material_of_floor].values[n][0]],
            'W1_E_6_e': [rooms_data[no_of_doors].values[n][0]],
            'W1_E_6_f': [rooms_data[no_of_windows].values[n][0]],
            'W1_E_6_g': [rooms_data[material_of_window_panes].values[n][0]],
            'W1_E_6_h': [rooms_data[have_curtains].values[n][0]],
            'W1_E_6_i': [rooms_data[ventelation_holes].values[n][0]],
            'W1_E_6_j': [rooms_data[no_of_bulbs].values[n][0]],
            'W1_E_6_k': [rooms_data[no_of_fans].values[n][0]],
            'W1_E_6_l': [rooms_data[no_of_acs].values[n][0]]
        })
        
        # Append to the member roster
        room_roster = pd.concat([room_roster, temp_df], ignore_index=True)

room_roster

/tmp/ipykernel_328802/3661328653.py:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  room_roster = pd.concat([room_roster, temp_df], ignore_index=True)

,SERIALNO,ROOM_ID,W1_E_6_a,W1_E_6_b,W1_E_6_c_1,W1_E_6_c_2,W1_E_6_d,W1_E_6_e,W1_E_6_f,W1_E_6_g,W1_E_6_h,W1_E_6_i,W1_E_6_j,W1_E_6_k,W1_E_6_l
0,194742308.0,I_1,Living room,0.0,Asbestos,A beamed ceiling,Tile,1.0,2.0,Glass,Yes,No,4.0,1.0,0.0
1,194742308.0,I_2,Bedrooms,0.0,Asbestos,A beamed ceiling,Tile,1.0,1.0,Glass,Yes,No,1.0,1.0,0.0
2,194742308.0,I_3,Bedrooms,0.0,Asbestos,A beamed ceiling,Tile,1.0,1.0,Glass,Yes,No,1.0,1.0,0.0
3,194742308.0,I_4,Bedrooms,1.0,Asbestos,A beamed ceiling,Cement,1.0,1.0,Glass,Yes,No,1.0,1.0,0.0
4,194742308.0,I_5,Bedrooms,1.0,Asbestos,A beamed ceiling,Cement,1.0,1.0,Glass,Yes,No,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112235,197059430.0,I_Oth_16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112236,197059430.0,I_Oth_17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112237,197059430.0,I_Oth_18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112238,197059430.0,I_Oth_19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112239,197059430.0,I_Oth_20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
room_roster = room_roster.dropna(subset=room_roster.columns[2:], how='all').reset_index(drop=True)
room_roster

,SERIALNO,ROOM_ID,W1_E_6_a,W1_E_6_b,W1_E_6_c_1,W1_E_6_c_2,W1_E_6_d,W1_E_6_e,W1_E_6_f,W1_E_6_g,W1_E_6_h,W1_E_6_i,W1_E_6_j,W1_E_6_k,W1_E_6_l
0,194742308.0,I_1,Living room,0.0,Asbestos,A beamed ceiling,Tile,1.0,2.0,Glass,Yes,No,4.0,1.0,0.0
1,194742308.0,I_2,Bedrooms,0.0,Asbestos,A beamed ceiling,Tile,1.0,1.0,Glass,Yes,No,1.0,1.0,0.0
2,194742308.0,I_3,Bedrooms,0.0,Asbestos,A beamed ceiling,Tile,1.0,1.0,Glass,Yes,No,1.0,1.0,0.0
3,194742308.0,I_4,Bedrooms,1.0,Asbestos,A beamed ceiling,Cement,1.0,1.0,Glass,Yes,No,1.0,1.0,0.0
4,194742308.0,I_5,Bedrooms,1.0,Asbestos,A beamed ceiling,Cement,1.0,1.0,Glass,Yes,No,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23033,197059429.0,I_7,Bathroom and / or toilets,0.0,Concrete,"No ceiling, the concrete slab",Tile,1.0,1.0,Glass,No,No,1.0,0.0,0.0
23034,197059429.0,I_8,Bathroom and / or toilets,0.0,Concrete,"No ceiling, the concrete slab",Tile,1.0,1.0,Glass,No,No,1.0,0.0,0.0
23035,197059429.0,I_9,Staircase,1.0,Concrete,"No ceiling, the concrete slab",Tile,0.0,0.0,NaN,NaN,No,1.0,0.0,0.0
23036,197059430.0,I_1,Bedrooms,0.0,Takaran,No ceiling just the roof above,Cement,1.0,0.0,NaN,NaN,No,1.0,1.0,0.0
23037,197059430.0,I_2,Kitchen and/ or pantry,0.0,Takaran,No ceiling just the roof above,Cement,1.0,1.0,Net,No,No,1.0,0.0,0.0

In [23]:
room_roster.pg_copy_to(
    name='survey_1_room_roster',
    con = engine,
    schema='raw',
    if_exists='replace'
)

### Light Roster

In [15]:
columns[columns.str.contains('W1_E_6_n')]

Index(['I_1_I_1_W1_E_6_n', 'I_1_I_2_W1_E_6_n', 'I_1_I_3_W1_E_6_n',
       'I_1_I_4_W1_E_6_n', 'I_1_I_5_W1_E_6_n', 'I_1_I_6_W1_E_6_n',
       'I_1_I_7_W1_E_6_n', 'I_1_I_8_W1_E_6_n', 'I_1_I_9_W1_E_6_n',
       'I_1_I_10_W1_E_6_n',
       ...
       'I_20_I_10_W1_E_6_nO', 'I_20_I_11_W1_E_6_nO', 'I_20_I_12_W1_E_6_nO',
       'I_20_I_13_W1_E_6_nO', 'I_20_I_14_W1_E_6_nO', 'I_20_I_15_W1_E_6_nO',
       'I_20_I_16_W1_E_6_nO', 'I_20_I_17_W1_E_6_nO', 'I_20_I_18_W1_E_6_nO',
       'I_20_I_19_W1_E_6_nO'],
      dtype='object', length=760)

In [16]:
lights = columns[columns.str.contains(r'W1_E_6_[n-q]')]

lights_data = srl_version[['SERIALNO'] + lights.tolist()]

lights_data_columns = lights_data.columns

lights_data_columns

Index(['SERIALNO', 'I_1_I_1_W1_E_6_n', 'I_1_I_1_T_W1_E_6_o_1',
       'I_1_I_1_T_W1_E_6_o_2', 'I_1_I_1_T_W1_E_6_o_3', 'I_1_I_1_T_W1_E_6_o_4',
       'I_1_I_1_T_W1_E_6_o_5', 'I_1_I_1_T_W1_E_6_o_6', 'I_1_I_1_T_W1_E_6_o_7',
       'I_1_I_1_T_W1_E_6_o_8',
       ...
       'I_20_I_19_T_W1_E_6_pO_9', 'I_20_I_19_T_W1_E_6_qO_1',
       'I_20_I_19_T_W1_E_6_qO_2', 'I_20_I_19_T_W1_E_6_qO_3',
       'I_20_I_19_T_W1_E_6_qO_4', 'I_20_I_19_T_W1_E_6_qO_5',
       'I_20_I_19_T_W1_E_6_qO_6', 'I_20_I_19_T_W1_E_6_qO_7',
       'I_20_I_19_T_W1_E_6_qO_8', 'I_20_I_19_T_W1_E_6_qO_9'],
      dtype='object', length=21281)

In [30]:
len(lights_data)

2806

In [31]:
light_roster = pd.DataFrame(columns=['SERIALNO', 'ROOM_ID', 'LIGHT_ID', 'W1_E_6_n', 'W1_E_6_o', 'W1_E_6_p', 'W1_E_6_q'])

for n in range(len(lights_data)):
    serial_no = lights_data['SERIALNO'].iloc[n]
    # print(f'household: {n}')

    # get the number of rooms of the above serial number from srl_version dataframe
    total_rooms = int(srl_version[srl_version['SERIALNO'] == serial_no]['TotRoom'].values[0])
    total_other_rooms = srl_version[srl_version['SERIALNO'] == serial_no]['TotRoomOth'].values[0]

    # convert total_other_rooms to int if it is not NaN
    if (pd.notna(total_other_rooms)):
        total_other_rooms = int(total_other_rooms)
    else:
        total_other_rooms = 0

    # print(f'Total Rooms: {total_rooms}')

    # Iterating for each main room
    for i in range(1, total_rooms + 1):
        # print(f'room: {i}')
        if (i > 20):
            break
        
        room_id = f'I_{i}'
        no_of_bulbs_in_room = int(srl_version[srl_version['SERIALNO'] == serial_no][f'I_{i}_W1_E_6_j'].values[0])

        # print(f'Room: {room_id}, No of Bulbs: {no_of_bulbs_in_room}')

        for j in range(1, no_of_bulbs_in_room + 1):
            if (j > 19):
                break

            # print(f'light: {j}')
            light_id = f'I_{i}_L_{j}'
            light_type_column = lights_data_columns[lights_data_columns.str.contains(f'I_{i}_I_{j}_W1_E_6_n')]

            light_type = lights_data[light_type_column].values[n][0]
            # print(f'Room: {room_id}, Light: {light_id}, Light Type: {light_type}')

            if (light_type == 'Incandescent'):
                column = 1
            elif (light_type == 'CFL'):
                column = 2
            elif (light_type == 'LED'):
                column = 3
            elif (light_type == 'Halogen'):
                column = 4
            elif (light_type == 'Tube Light (conventional)'):
                column = 5
            elif (light_type == 'Tube Light (LED)'):
                column = 6
            elif (light_type == 'Flashlight'):
                column = 7
            elif (light_type == 'Flood light'):
                column = 8
            elif (light_type == 'Other'):
                column = 9

            light_wattage = lights_data_columns[lights_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_o_{column}')]
            day_time_hours = lights_data_columns[lights_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_p_{column}')]
            night_time_hours = lights_data_columns[lights_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_q_{column}')]

            temp_df = pd.DataFrame({
                'SERIALNO': [serial_no],
                'ROOM_ID': [room_id],
                'LIGHT_ID': [light_id],
                'W1_E_6_n': [light_type],
                'W1_E_6_o': [lights_data[light_wattage].values[n][0]],
                'W1_E_6_p': [lights_data[day_time_hours].values[n][0]],
                'W1_E_6_q': [lights_data[night_time_hours].values[n][0]]
            })

            light_roster = pd.concat([light_roster, temp_df], ignore_index=True)

    # Iterating for each other room
    for i in range(1, total_other_rooms + 1):
        if (i > 20):
            break
        
        room_id = f'I_Oth_{i}'
        no_of_bulbs_in_room = int(srl_version[srl_version['SERIALNO'] == serial_no][f'I_{i}_W1_E_6_jO'].values[0])

        # print(f'Room: {room_id}, No of Bulbs: {no_of_bulbs_in_room}')

        for j in range(1, no_of_bulbs_in_room + 1):
            if (j > 19):
                break

            light_id = f'I_Oth_{i}_L_{j}'
            light_type_column = lights_data_columns[lights_data_columns.str.contains(f'I_{i}_I_{j}_W1_E_6_nO')]

            light_type = lights_data[light_type_column].values[n][0]
            # print(f'Room: {room_id}, Light: {light_id}, Light Type: {light_type}')

            if (light_type == 'Incandescent'):
                column = 1
            elif (light_type == 'CFL'):
                column = 2
            elif (light_type == 'LED'):
                column = 3
            elif (light_type == 'Halogen'):
                column = 4
            elif (light_type == 'Tube Light (conventional)'):
                column = 5
            elif (light_type == 'Tube Light (LED)'):
                column = 6
            elif (light_type == 'Flashlight'):
                column = 7
            elif (light_type == 'Flood light'):
                column = 8
            elif (light_type == 'Other'):
                column = 9

            light_wattage = lights_data_columns[lights_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_oO_{column}')]
            day_time_hours = lights_data_columns[lights_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_pO_{column}')]
            night_time_hours = lights_data_columns[lights_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_qO_{column}')]

            temp_df = pd.DataFrame({
                'SERIALNO': [serial_no],
                'ROOM_ID': [room_id],
                'LIGHT_ID': [light_id],
                'W1_E_6_n': [light_type],
                'W1_E_6_o': [lights_data[light_wattage].values[n][0]],
                'W1_E_6_p': [lights_data[day_time_hours].values[n][0]],
                'W1_E_6_q': [lights_data[night_time_hours].values[n][0]]
            })

            light_roster = pd.concat([light_roster, temp_df], ignore_index=True)

light_roster

/tmp/ipykernel_6619/569466742.py:74: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  light_roster = pd.concat([light_roster, temp_df], ignore_index=True)

          SERIALNO ROOM_ID LIGHT_ID W1_E_6_n  W1_E_6_o  W1_E_6_p  W1_E_6_q
0      194742308.0     I_1  I_1_L_1      LED       5.0       0.0      2.00
1      194742308.0     I_1  I_1_L_2      LED       5.0       0.0      2.00
2      194742308.0     I_1  I_1_L_3      LED       5.0       0.0      2.00
3      194742308.0     I_1  I_1_L_4      LED       5.0       0.0      2.00
4      194742308.0     I_2  I_2_L_1      CFL       5.0       0.0      0.25
...            ...     ...      ...      ...       ...       ...       ...
38639  197059429.0     I_7  I_7_L_1      LED       0.0       4.0      5.00
38640  197059429.0     I_8  I_8_L_1      LED       0.0       0.0      4.00
38641  197059429.0     I_9  I_9_L_1      LED       0.0       0.0      4.00
38642  197059430.0     I_1  I_1_L_1      LED       8.0       0.0     98.00
38643  197059430.0     I_2  I_2_L_1      LED       0.0       0.0      4.00

[38644 rows x 7 columns]

In [32]:
light_roster.pg_copy_to(
    name='survey_1_light_roster',
    con = engine,
    schema='raw',
    if_exists='replace'
)

### Fan Roster

In [68]:
columns[columns.str.contains('W1_E_6_r')]

Index(['I_1_I_1_W1_E_6_r', 'I_1_I_2_W1_E_6_r', 'I_1_I_3_W1_E_6_r',
       'I_1_I_4_W1_E_6_r', 'I_1_I_5_W1_E_6_r', 'I_1_I_6_W1_E_6_r',
       'I_1_I_7_W1_E_6_r', 'I_1_I_8_W1_E_6_r', 'I_1_I_9_W1_E_6_r',
       'I_1_I_10_W1_E_6_r',
       ...
       'I_20_I_10_W1_E_6_rO', 'I_20_I_11_W1_E_6_rO', 'I_20_I_12_W1_E_6_rO',
       'I_20_I_13_W1_E_6_rO', 'I_20_I_14_W1_E_6_rO', 'I_20_I_15_W1_E_6_rO',
       'I_20_I_16_W1_E_6_rO', 'I_20_I_17_W1_E_6_rO', 'I_20_I_18_W1_E_6_rO',
       'I_20_I_19_W1_E_6_rO'],
      dtype='object', length=760)

In [36]:
fans = columns[columns.str.contains(r'W1_E_6_[r-t]')]

fans_data = srl_version[['SERIALNO'] + fans.tolist()]

fans_data_columns = fans_data.columns

fans_data_columns

Index(['SERIALNO', 'I_1_I_1_W1_E_6_r', 'I_1_I_1_T_W1_E_6_s_1',
       'I_1_I_1_T_W1_E_6_s_2', 'I_1_I_1_T_W1_E_6_s_3', 'I_1_I_1_T_W1_E_6_s_4',
       'I_1_I_1_T_W1_E_6_s_5', 'I_1_I_1_T_W1_E_6_s_6', 'I_1_I_1_T_W1_E_6_s_7',
       'I_1_I_1_T_W1_E_6_t_1',
       ...
       'I_20_I_19_T_W1_E_6_sO_5', 'I_20_I_19_T_W1_E_6_sO_6',
       'I_20_I_19_T_W1_E_6_sO_7', 'I_20_I_19_T_W1_E_6_tO_1',
       'I_20_I_19_T_W1_E_6_tO_2', 'I_20_I_19_T_W1_E_6_tO_3',
       'I_20_I_19_T_W1_E_6_tO_4', 'I_20_I_19_T_W1_E_6_tO_5',
       'I_20_I_19_T_W1_E_6_tO_6', 'I_20_I_19_T_W1_E_6_tO_7'],
      dtype='object', length=11401)

In [41]:
fans_data

,SERIALNO,I_1_I_1_W1_E_6_r,I_1_I_1_T_W1_E_6_s_1,I_1_I_1_T_W1_E_6_s_2,I_1_I_1_T_W1_E_6_s_3,I_1_I_1_T_W1_E_6_s_4,I_1_I_1_T_W1_E_6_s_5,I_1_I_1_T_W1_E_6_s_6,I_1_I_1_T_W1_E_6_s_7,I_1_I_1_T_W1_E_6_t_1,...,I_20_I_19_T_W1_E_6_sO_5,I_20_I_19_T_W1_E_6_sO_6,I_20_I_19_T_W1_E_6_sO_7,I_20_I_19_T_W1_E_6_tO_1,I_20_I_19_T_W1_E_6_tO_2,I_20_I_19_T_W1_E_6_tO_3,I_20_I_19_T_W1_E_6_tO_4,I_20_I_19_T_W1_E_6_tO_5,I_20_I_19_T_W1_E_6_tO_6,I_20_I_19_T_W1_E_6_tO_7
0,194742308.0,Ceiling fan,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,194742589.0,Pedestal fan/ Stand fan,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,194743000.0,Pedestal fan/ Stand fan,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,194743684.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,194744078.0,Ceiling fan,0.0,NaN,NaN,NaN,NaN,NaN,NaN,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2801,197059426.0,Ceiling fan,70.0,NaN,NaN,NaN,NaN,NaN,NaN,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2802,197059427.0,Wall fan,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2803,197059428.0,Ceiling fan,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2804,197059429.0,Ceiling fan,0.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2805,197059430.0,Pedestal fan/ Stand fan,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
fan_roster = pd.DataFrame(columns=['SERIALNO', 'ROOM_ID', 'FAN_ID', 'W1_E_6_r', 'W1_E_6_s', 'W1_E_6_t'])

for n in range(len(fans_data)):
    serial_no = fans_data['SERIALNO'].iloc[n]
    
    # get the number of rooms of the above serial number from srl_version dataframe
    total_rooms = int(srl_version[srl_version['SERIALNO'] == serial_no]['TotRoom'].values[0])
    total_other_rooms = srl_version[srl_version['SERIALNO'] == serial_no]['TotRoomOth'].values[0]

    # convert total_other_rooms to int if it is not NaN
    if (pd.notna(total_other_rooms)):
        total_other_rooms = int(total_other_rooms)
    else:
        total_other_rooms = 0

    # Iterating for each main room
    for i in range(1, total_rooms + 1):
        if (i > 20):
            break
        
        room_id = f'I_{i}'
        no_of_fans_in_room = int(srl_version[srl_version['SERIALNO'] == serial_no][f'I_{i}_W1_E_6_k'].values[0])

        for j in range(1, no_of_fans_in_room + 1):
            if (j > 19):
                break

            fan_id = f'I_{i}_F_{j}'
            fan_type_column = fans_data_columns[fans_data_columns.str.contains(f'I_{i}_I_{j}_W1_E_6_r')]

            fan_type = fans_data[fan_type_column].values[n][0]

            # print(fan_type)

            if (fan_type == 'Ceiling fan'):
                column = 1
            elif (fan_type == 'Wall fan'):
                column = 2
            elif (fan_type == ' Pedestal fan/ Stand fan'):
                column = 3
            elif (fan_type == 'Table fan'):
                column = 4
            elif (fan_type == 'Exhaust fan'):
                column = 5
            elif (fan_type == 'Tower fan'):
                column = 6
            elif (fan_type == 'Other'):
                column = 7

            # print(column)

            day_time_hours = fans_data_columns[fans_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_s_{column}')]
            night_time_hours = fans_data_columns[fans_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_t_{column}')]

            temp_df = pd.DataFrame({
                'SERIALNO': [serial_no],
                'ROOM_ID': [room_id],
                'FAN_ID': [fan_id],
                'W1_E_6_r': [fan_type],
                'W1_E_6_s': [fans_data[day_time_hours].values[n][0]],
                'W1_E_6_t': [fans_data[night_time_hours].values[n][0]]
            })

            fan_roster = pd.concat([fan_roster, temp_df], ignore_index=True)

    # Iterating for each other rooms
    for i in range(1, total_other_rooms + 1):
        if (i > 20):
            break
        
        room_id = f'I_Oth_{i}'
        no_of_fans_in_room = int(srl_version[srl_version['SERIALNO'] == serial_no][f'I_{i}_W1_E_6_kO'].values[0])

        for j in range(1, no_of_fans_in_room + 1):
            if (j > 19):
                break

            fan_id = f'I_Oth_{i}_F_{j}'
            fan_type_column = fans_data_columns[fans_data_columns.str.contains(f'I_{i}_I_{j}_W1_E_6_rO')]

            fan_type = fans_data[fan_type_column].values[n][0]

            # print(fan_type)

            if (fan_type == 'Ceiling fan'):
                column = 1
            elif (fan_type == 'Wall fan'):
                column = 2
            elif (fan_type == ' Pedestal fan/ Stand fan'):
                column = 3
            elif (fan_type == 'Pedestal fan'):
                column = 3
            elif (fan_type == 'Table fan'):
                column = 4
            elif (fan_type == 'Exhaust fan'):
                column = 5
            elif (fan_type == 'Tower fan'):
                column = 6
            elif (fan_type == 'Other'):
                column = 7

            # print(column)

            day_time_hours = fans_data_columns[fans_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_sO_{column}')]
            night_time_hours = fans_data_columns[fans_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_tO_{column}')]

            temp_df = pd.DataFrame({
                'SERIALNO': [serial_no],
                'ROOM_ID': [room_id],
                'FAN_ID': [fan_id],
                'W1_E_6_r': [fan_type],
                'W1_E_6_s': [fans_data[day_time_hours].values[n][0]],
                'W1_E_6_t': [fans_data[night_time_hours].values[n][0]]
            })

            fan_roster = pd.concat([fan_roster, temp_df], ignore_index=True)

fan_roster

/tmp/ipykernel_6619/350600310.py:64: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  fan_roster = pd.concat([fan_roster, temp_df], ignore_index=True)

,SERIALNO,ROOM_ID,FAN_ID,W1_E_6_r,W1_E_6_s,W1_E_6_t
0,194742308.0,I_1,I_1_F_1,Ceiling fan,0.0,0.0
1,194742308.0,I_2,I_2_F_1,Ceiling fan,0.0,0.0
2,194742308.0,I_3,I_3_F_1,Ceiling fan,0.0,0.0
3,194742308.0,I_4,I_4_F_1,Ceiling fan,0.0,0.0
4,194742308.0,I_5,I_5_F_1,Ceiling fan,0.0,0.0
...,...,...,...,...,...,...
9344,197059429.0,I_2,I_2_F_1,Pedestal fan/ Stand fan,0.0,80.0
9345,197059429.0,I_3,I_3_F_1,Pedestal fan/ Stand fan,0.0,98.0
9346,197059429.0,I_4,I_4_F_1,Pedestal fan/ Stand fan,0.0,98.0
9347,197059429.0,I_6,I_6_F_1,Ceiling fan,0.0,0.0
9348,197059430.0,I_1,I_1_F_1,Pedestal fan/ Stand fan,0.0,98.0

In [65]:
fan_roster.pg_copy_to(
    name='survey_1_fan_roster',
    con = engine,
    schema='raw',
    if_exists='replace'
)

### AC Roster

In [67]:
columns[columns.str.contains('W1_E_6_u')]

Index(['I_1_I_1_W1_E_6_u', 'I_1_I_2_W1_E_6_u', 'I_1_I_3_W1_E_6_u',
       'I_1_I_4_W1_E_6_u', 'I_1_I_5_W1_E_6_u', 'I_1_I_6_W1_E_6_u',
       'I_1_I_7_W1_E_6_u', 'I_1_I_8_W1_E_6_u', 'I_1_I_9_W1_E_6_u',
       'I_1_I_10_W1_E_6_u',
       ...
       'I_20_I_10_W1_E_6_uO', 'I_20_I_11_W1_E_6_uO', 'I_20_I_12_W1_E_6_uO',
       'I_20_I_13_W1_E_6_uO', 'I_20_I_14_W1_E_6_uO', 'I_20_I_15_W1_E_6_uO',
       'I_20_I_16_W1_E_6_uO', 'I_20_I_17_W1_E_6_uO', 'I_20_I_18_W1_E_6_uO',
       'I_20_I_19_W1_E_6_uO'],
      dtype='object', length=760)

In [70]:
AC = columns[columns.str.contains(r'W1_E_6_[u-z]')]

ac_data = srl_version[['SERIALNO'] + AC.tolist()]

ac_data_columns = ac_data.columns

ac_data_columns

Index(['SERIALNO', 'I_1_I_1_W1_E_6_u', 'I_1_I_1_T_W1_E_6_v_1',
       'I_1_I_1_T_W1_E_6_v_2', 'I_1_I_1_T_W1_E_6_v_3', 'I_1_I_1_T_W1_E_6_v_4',
       'I_1_I_1_T_W1_E_6_v_5', 'I_1_I_1_T_W1_E_6_v_6', 'I_1_I_1_T_W1_E_6_w_1',
       'I_1_I_1_T_W1_E_6_w_2',
       ...
       'I_20_I_19_T_W1_E_6_yO_3', 'I_20_I_19_T_W1_E_6_yO_4',
       'I_20_I_19_T_W1_E_6_yO_5', 'I_20_I_19_T_W1_E_6_yO_6',
       'I_20_I_19_T_W1_E_6_zO_1', 'I_20_I_19_T_W1_E_6_zO_2',
       'I_20_I_19_T_W1_E_6_zO_3', 'I_20_I_19_T_W1_E_6_zO_4',
       'I_20_I_19_T_W1_E_6_zO_5', 'I_20_I_19_T_W1_E_6_zO_6'],
      dtype='object', length=28121)

In [71]:
ac_data

,SERIALNO,I_1_I_1_W1_E_6_u,I_1_I_1_T_W1_E_6_v_1,I_1_I_1_T_W1_E_6_v_2,I_1_I_1_T_W1_E_6_v_3,I_1_I_1_T_W1_E_6_v_4,I_1_I_1_T_W1_E_6_v_5,I_1_I_1_T_W1_E_6_v_6,I_1_I_1_T_W1_E_6_w_1,I_1_I_1_T_W1_E_6_w_2,...,I_20_I_19_T_W1_E_6_yO_3,I_20_I_19_T_W1_E_6_yO_4,I_20_I_19_T_W1_E_6_yO_5,I_20_I_19_T_W1_E_6_yO_6,I_20_I_19_T_W1_E_6_zO_1,I_20_I_19_T_W1_E_6_zO_2,I_20_I_19_T_W1_E_6_zO_3,I_20_I_19_T_W1_E_6_zO_4,I_20_I_19_T_W1_E_6_zO_5,I_20_I_19_T_W1_E_6_zO_6
0,194742308.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,194742589.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,194743000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,194743684.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,194744078.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2801,197059426.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2802,197059427.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2803,197059428.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2804,197059429.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2805,197059430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
# display unique values in the column
ac_data['I_2_I_1_W1_E_6_u'].unique()

array([nan, 'Central AC (Only to your Household)',
       'Individual AC with two components',
       'Individual AC with one component', 'Other',
       'Central AC (For the whole building', 'Air Cooler'], dtype=object)

In [84]:
ac_roster = pd.DataFrame(columns=['SERIALNO', 'ROOM_ID', 'AC_ID', 'W1_E_6_u', 'W1_E_6_v', 'W1_E_6_w', 'W1_E_6_x_1', 'W1_E_6_x_2', 'W1_E_6_y', 'W1_E_6_z'])

for n in range(len(ac_data)):
    serial_no = fans_data['SERIALNO'].iloc[n]
    
    # get the number of rooms of the above serial number from srl_version dataframe
    total_rooms = int(srl_version[srl_version['SERIALNO'] == serial_no]['TotRoom'].values[0])
    total_other_rooms = srl_version[srl_version['SERIALNO'] == serial_no]['TotRoomOth'].values[0]

    # convert total_other_rooms to int if it is not NaN
    if (pd.notna(total_other_rooms)):
        total_other_rooms = int(total_other_rooms)
    else:
        total_other_rooms = 0

    # Iterating for each main room
    for i in range(1, total_rooms + 1):
        if (i > 20):
            break
        
        room_id = f'I_{i}'
        no_of_acs_in_room = int(srl_version[srl_version['SERIALNO'] == serial_no][f'I_{i}_W1_E_6_l'].values[0])

        for j in range(1, no_of_acs_in_room + 1):
            if (j > 19):
                break

            ac_id = f'I_{i}_AC_{j}'
            ac_type_column = ac_data_columns[ac_data_columns.str.contains(f'I_{i}_I_{j}_W1_E_6_u')]

            ac_type = ac_data[ac_type_column].values[n][0]

            # print(fan_type)

            if (ac_type == 'Central AC (Only to your Household)'):
                column = 1
            elif (ac_type == 'Central AC (For the whole building'):
                column = 2
            elif (ac_type == 'Individual AC with two components'):
                column = 3
            elif (ac_type == 'Individual AC with one component'):
                column = 4
            elif (ac_type == 'Air Cooler'):
                column = 5
            elif (ac_type == 'Other'):
                column = 6

            # print(column)

            inverter_non_inverter = ac_data_columns[ac_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_v_{column}')]
            room_seal_type = ac_data_columns[ac_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_w_{column}')]
            ac_wattage = ac_data_columns[ac_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_x_1_{column}')]
            ac_btu = ac_data_columns[ac_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_x_2_{column}')]
            day_time_hours = ac_data_columns[ac_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_y_{column}')]
            night_time_hours = ac_data_columns[ac_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_z_{column}')]

            temp_df = pd.DataFrame({
                'SERIALNO': [serial_no],
                'ROOM_ID': [room_id],
                'AC_ID': [ac_id],
                'W1_E_6_u': [ac_type],
                'W1_E_6_v': [ac_data[inverter_non_inverter].values[n][0]],
                'W1_E_6_w': [ac_data[room_seal_type].values[n][0]],
                'W1_E_6_x_1': [ac_data[ac_wattage].values[n][0]],
                'W1_E_6_x_2': [ac_data[ac_btu].values[n][0]],
                'W1_E_6_y': [ac_data[day_time_hours].values[n][0]],
                'W1_E_6_z': [ac_data[night_time_hours].values[n][0]]
            })

            ac_roster = pd.concat([ac_roster, temp_df], ignore_index=True)

    # Iterating for each other room
    for i in range(1, total_other_rooms + 1):
        if (i > 20):
            break
        
        room_id = f'I_Oth_{i}'
        no_of_acs_in_room = int(srl_version[srl_version['SERIALNO'] == serial_no][f'I_{i}_W1_E_6_lO'].values[0])

        for j in range(1, no_of_acs_in_room + 1):
            if (j > 19):
                break

            ac_id = f'I_Oth_{i}_AC_{j}'
            ac_type_column = ac_data_columns[ac_data_columns.str.contains(f'I_{i}_I_{j}_W1_E_6_uO')]

            ac_type = ac_data[ac_type_column].values[n][0]

            # print(fan_type)

            if (ac_type == 'Central AC (Only to your Household)'):
                column = 1
            elif (ac_type == 'Central AC (For the whole building'):
                column = 2
            elif (ac_type == 'Individual AC with two components'):
                column = 3
            elif (ac_type == 'Individual AC with one component'):
                column = 4
            elif (ac_type == 'Air Cooler'):
                column = 5
            elif (ac_type == 'Other'):
                column = 6

            # print(column)

            inverter_non_inverter = ac_data_columns[ac_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_vO_{column}')]
            room_seal_type = ac_data_columns[ac_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_wO_{column}')]
            ac_wattage = ac_data_columns[ac_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_x_1O_{column}')]
            ac_btu = ac_data_columns[ac_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_x_2O_{column}')]
            day_time_hours = ac_data_columns[ac_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_yO_{column}')]
            night_time_hours = ac_data_columns[ac_data_columns.str.contains(f'I_{i}_I_{j}_T_W1_E_6_zO_{column}')]

            temp_df = pd.DataFrame({
                'SERIALNO': [serial_no],
                'ROOM_ID': [room_id],
                'AC_ID': [ac_id],
                'W1_E_6_u': [ac_type],
                'W1_E_6_v': [ac_data[inverter_non_inverter].values[n][0]],
                'W1_E_6_w': [ac_data[room_seal_type].values[n][0]],
                'W1_E_6_x_1': [ac_data[ac_wattage].values[n][0]],
                'W1_E_6_x_2': [ac_data[ac_btu].values[n][0]],
                'W1_E_6_y': [ac_data[day_time_hours].values[n][0]],
                'W1_E_6_z': [ac_data[night_time_hours].values[n][0]]
            })

            ac_roster = pd.concat([ac_roster, temp_df], ignore_index=True)

ac_roster

/tmp/ipykernel_6619/1710944897.py:70: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  ac_roster = pd.concat([ac_roster, temp_df], ignore_index=True)

,SERIALNO,ROOM_ID,AC_ID,W1_E_6_u,W1_E_6_v,W1_E_6_w,W1_E_6_x_1,W1_E_6_x_2,W1_E_6_y,W1_E_6_z
0,194747485.0,I_3,I_3_AC_1,Individual AC with one component,Yes,1. The room can be fully closed and sealed and...,1500.0,0.0,0.0,45.0
1,194747839.0,I_3,I_3_AC_1,Other,No,1. The room can be fully closed and sealed and...,0.0,0.0,0.0,0.0
2,194754161.0,I_5,I_5_AC_1,Individual AC with two components,Yes,1. The room can be fully closed and sealed and...,2000.0,0.0,0.0,56.0
3,194790132.0,I_2,I_2_AC_1,Central AC (Only to your Household),Yes,1. The room can be fully closed and sealed and...,0.0,0.0,0.0,0.0
4,194839223.0,I_8,I_8_AC_1,Individual AC with two components,Yes,1. The room can be fully closed and sealed and...,0.0,0.0,12.0,12.0
...,...,...,...,...,...,...,...,...,...,...
851,197059425.0,I_4,I_4_AC_1,Individual AC with two components,Yes,1. The room can be fully closed and sealed and...,1200.0,12000.0,70.0,84.0
852,197059425.0,I_5,I_5_AC_1,Individual AC with two components,Yes,1. The room can be fully closed and sealed and...,1200.0,12000.0,0.0,70.0
853,197059427.0,I_4,I_4_AC_1,Individual AC with one component,Yes,1. The room can be fully closed and sealed and...,0.0,0.0,0.0,0.0
854,197059427.0,I_5,I_5_AC_1,Individual AC with one component,Yes,1. The room can be fully closed and sealed and...,0.0,0.0,0.0,2.0
855,197059428.0,I_4,I_4_AC_1,Individual AC with one component,Yes,1. The room can be fully closed and sealed and...,1200.0,12000.0,0.0,21.0

In [85]:
ac_roster.pg_copy_to(
    name='survey_1_ac_roster',
    con = engine,
    schema='raw',
    if_exists='replace'
)